<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-12">Please provide some brief details about your problem, suggestion or issue.</div>
        <div class="col-6">
            <mem-form-field>
                <label>First name</label>
                <mem-input-text formControlName="firstName"></mem-input-text>
                <div class="mem-form-error" *ngIf="contactForm.get('firstName')?.hasError('required') && contactForm.get('firstName')?.dirty">
                    First name is <strong>required</strong>
                </div>
            </mem-form-field>
        </div>
        <div class="col-6">
            <mem-form-field>
                <label>Last Name</label>
                <mem-input-text formControlName="lastName" />
            </mem-form-field>
        </div>
        <div class="col-12">
            <mem-form-field>
                <label>Email</label>
                <mem-input-text formControlName="email" placeholder="Ex. pat@example.com" />

                <div
                    class="mem-form-error"
                    *ngIf="contactForm.get('email')?.hasError('email') && !contactForm.get('email')?.hasError('required') && contactForm.get('email')?.dirty"
                >
                    Please enter a valid email address
                </div>
                <div class="mem-form-error" *ngIf="contactForm.get('email')?.hasError('required') && contactForm.get('email')?.dirty">
                    Email is <strong>required</strong>
                </div>
            </mem-form-field>
        </div>
        <div class="col-12">
            <mem-form-field>
                <label>Leave a comment</label>
                <mem-textarea formControlName="comment" />
                <div class="mem-form-error" *ngIf="contactForm.get('comment')?.hasError('required') && contactForm.get('comment')?.dirty">
                    Comment is <strong>required</strong>
                </div>
            </mem-form-field>
        </div>
        <div class="col-12">
            <button memButton memVariant="contained" [memRipple]="true" [disabled]="!contactForm.valid">Contact Us!</button>
        </div>
    </div>
</form>
