<div class="main">
  <div class="app-container">
    <div class="menu">
      <div>
        <button
          memButton
          memVariant="tab"
          [memRipple]="true"
          [memIsActive]="true"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          General Information
        </button>
      </div>
      <div>
        <button
          memButton
          memVariant="tab"
          [memRipple]="true"
          routerLink="/reports"
          routerLinkActive="active"
        >
          Reports
        </button>
      </div>
      <div>
        <button
          memButton
          memVariant="tab"
          [memRipple]="true"
          routerLink="/contact"
          routerLinkActive="active"
        >
          Contact
        </button>
      </div>
    </div>
    <div class="app-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
