.reports_container {
  .countries {
    .tags {
      display: flex;
      gap: 8px;
      flex-wrap: wrap;

      ::ng-deep .tag {
        background-color: #21212180;
        border: 1px solid #064348;
        color: #ffffff;
        border-radius: 4px;

        .country-name {
          margin-right: 4px;
        }

        .confirmed {
          color: #ffcb39;
        }

        .recovered {
          color: #1efb03;
        }

        .death {
          color: #eb8282;
        }
      }

      mem-tag.selected ::ng-deep .tag {
        background-color: rgba(191, 54, 12, 0.7);
        border: 1px solid #ff7043;
      }
    }

    .control-bar {
      display: flex;
      padding: 16px 0;

      .status {
        flex: 1;
      }

      @media (max-width: 840px) {
        flex-flow: column-reverse;

        .status {
          margin-top: 16px;
        }
      }
    }
  }

  .angular-highcharts {
    height: 340px;
  }
}
