@import '../../../variables.scss';

.mat-form-field+.mat-form-field {
  margin-left: 8px;
}

mat-expansion-panel {
  background-color: transparent;

  &.mat-expanded {
    background-color: $elementsAccentBgColor;
    color: $elementsAccentColor;
    opacity: .9;
  }

  mat-expansion-panel-header {
    background-color: $elementsAccentBgColor;
    opacity: .9;

    mat-panel-title {
      color: $elementsAccentColor;
    }

    &:hover {
      background-color: $elementsAccentBgColor !important;
      opacity: 1;
    }
  }

}
