@use '~@angular/material' as mat;
@import './themes/glass.scss';

$elementsPrimaryBgColor: $primary;
$elementsPrimaryColor: #ffffff;

$elementsAccentBgColor: $accent;
$elementsAccentColor: #ffffff;

$elementsWarnBgColor: mat.get-color-from-palette($my-app-warn, 900);
$elementsWarnColor: #ffffff;

$backgroundPath: "pandemic-background.jpg";

$backgroundNormalTransparent: transparentize($primary, .5);
$backgroundLightTransparent: transparentize($primary, .8);
$backgroundDarkTransparent: transparentize($primary, .2);
$backgroundAccentTransparent: transparentize(mat.get-color-from-palette($my-app-warn, 900), .3);

$confirmedColor: #ffcb39;
$recoveredColor: #1efb03;
$deathColor: mat.get-color-from-palette($my-app-warn, 500);
$deathColorSelected: #000000;

$pillBorder: mat.get-color-from-palette($my-app-warn, 400);
